.navdiv {
    grid-area: n;
    background-color: blueviolet;
    background-color: #21438C;
    padding: 7px;
    font-size: 30px;
    -webkit-box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    border-radius: 10px;

}

.nav {
    background-color: blueviolet;
    background-color: #21438C;
    padding: 7px;
    font-size: 30px;
    display: grid;
    grid-template-rows: 1fr 10fr ;
}

.nav a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

a.activeLink {
    -webkit-box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    color: gold;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
    margin: 5px;
    font-size: larger;
}

/* a:focus {
    box-shadow: rgb(0 0 0 / 50%);
} */
/* (navigationData) => navigationData.isActive
                        ? s.activeLink
                        : null */

/* .navLink{
    color: white;
    text-decoration: none;
    border-radius: 10px;

}
.navLink:focus{
    -webkit-box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    color: gold;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
    margin: 5px;
} */

.friendsEl {
    /* position: relative;
    bottom: 50px; */
    position: fixed;
    top: 100px;
}

.friends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.friends img {
    width: 4rem;
    height: 4rem;
    padding-right: 5px;
    border-radius: 20px;
    object-fit: cover;
}

.friendItem {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}