

.dialogsItems {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.dialog {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    color: black;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s ease;
}

.dialog img {
    width: 50px;
    height: 50px;
    margin-right: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.dialog:active {
    color:aqua;
    background-color: rgb(225, 119, 119);
}

.dialog:hover {
    cursor: pointer;
    transition: 0.3s;
}



.newMessBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.newMessText {
    font-size: 20px;
    background: #516189;
    color:rgb(208 132 255);
    padding: 5px;
    margin: 10px;
    margin-left: 90px;
    min-width: 50px;
    max-width: 200px;
    min-height: 50px;
    max-height: 100px;
    border: 2px rgb(213, 118, 118) solid;
    border-radius: 10px;
}


.btnMess:hover {
    cursor: pointer;
    color: white;
    transition: 0.2s ease;
}


.arrowBtn {
    font-size: 35px;
    
}
.arrowBtn:hover {
    cursor: pointer;
}
/* .button {
    border-radius: 10px; 
    padding: 5px;
    background-color: black;
    min-width: 50px;
    color: white;
} */