
.posts {
    /* margin: 10px; */
    padding: 10px;
    padding-left: 50px;
    background-color: rgb(33, 96, 123);
    -webkit-box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    border-radius: 10px;
}

.posts h5 {
    font-size: 22px;
}

.item {
    color: white;
}
.button {
    background-color: cadetblue;
    border-radius: 10px;
    margin: 5px;
    width: auto;
    font-size: 20px;
    color: white
}

.button:hover {
    color: black;
    cursor: pointer;
}