body {
  background-image: url(https://sun1-26.userapi.com/impg/RHx_4HMDlJ-4JWjesGWfcRU_PR2yBEn63lr2Cg/jwOC-qzcAws.jpg?size=1280x720&quality=96&sign=73c51a28d40f7d76d5ee89f8dcac0e46&type=album);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
}
.app-wrapper {
  display: grid;
  width: 1000px;
  margin: 10px auto;
  font-size: 20px;

  grid-template-areas:
    'h h'
    'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 10fr;
  grid-gap: 10px;

  background-color: #b6c9ff;
  background-image: url(https://sun1-26.userapi.com/impg/RHx_4HMDlJ-4JWjesGWfcRU_PR2yBEn63lr2Cg/jwOC-qzcAws.jpg?size=1280x720&quality=96&sign=73c51a28d40f7d76d5ee89f8dcac0e46&type=album);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;

}

.app-wrapper-content {

  grid-area: c;
  background-color: aqua;

}