.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    -webkit-box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    background-color: #e2e9ff;
    background: #516189;
    border-radius: 10px;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    padding: 10px;
}

.messages {
    padding: 10px;
}